@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vollkorn:ital@1&display=swap');


:root {
    --primary-color: #3498db; /* Color principal */
    --secondary-color: #2ecc71; /* Color secundario */
    --text-color: #333; /* Color del texto */
    --link-color: #3498db; /* Color de los enlaces */
}

body {
   
    color: var(--text-color);
   
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--link-color); /* Color de los enlaces en la barra de navegación */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin-right: 20px; /* Añade un margen a la derecha de los enlaces */
}

h1 {
    color: var(--primary-color); /* Color de los encabezados */
    position: absolute;
   margin-top: -3px;

  
}

h2 {
    color: var(--primary-color); /* Color de los encabezados */
    position: absolute;
    margin-top: -25px;
  
}



p {
    font-size: 16px; /* Tamaño del texto del párrafo */
    line-height: 1.5; /* Altura de línea para una mejor legibilidad */
}

.social.links a {
    text-decoration: none; /* Quita el subrayado de los enlaces de redes sociales */
    margin-right: 10px; /* Añade un margen a la derecha de los enlaces de redes sociales */
}

/* Estilo para las imágenes dentro de los artículos */

/* Estilo para las imágenes en la sección de aventuras */



.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    float: right;
}

/* Estilo para los enlaces de redes sociales en el pie de página */
.footer .social.links a img {
    width: 30px; /* Tamaño de las imágenes de redes sociales en el pie de página */
}

    .hero {
        display: flex;
        justify-content: center; /* Alinea horizontalmente en el centro */
        align-items: center; /* Alinea verticalmente en el centro */
        height: 500px; /* Establece la altura del contenedor */
        border: 3px solid var(--primary-color);
       
    }
    
    .imagen {
        max-height: 10%; /* Asegura que la imagen no sea más ancha que el contenedor */
        width: 100%; /* Asegura que la imagen no sea más alta que el contenedor */
     
    }

  .article{
    position: absolute;
 
  }

  

  
  
  

  .div1{
    display: grid;
    place-items: center;
    border: 5px solid var(--primary-color);
    padding: 5%;
    margin-top: 5%;
    

  }

  .image1 {
    width: 70%;
    height: auto;
  }


